
@font-face {
	font-family: 'Courier Prime Code';
	src: url('../courierPrimeCodeFont/Courier Prime Code.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: black;
}
.container {
	margin-top: 30;
	margin-left: 30;
	z-index: -1;
}
.header {
	font-family: 'Courier Prime Code', 'Sans Serrif', 'Arial';
}

#me {
color: red;
}

#job {
color: white;
}

.tagline {


}

#emphasized {
	font-family: 'Inconsolata'
	font-weight: bold;
	text-decoration: underline;
	margin-left: 120px;
	color: white;
}

#para {
	margin: 20px;
	margin-left: 120px;
	color: white;
}


ul {

	color:yellow;
}

@media screen and (max-width: 630px) {
	.header {
		font-size: 10pt;
	} 

}

@media screen and (max-width: 530px) {
	.header {
		font-size: 8pt;
	}
}

