@font-face {
	font-family: 'Courier Prime Code';
	src: url('../courierPrimeCodeFont/Courier Prime Code.ttf');
}
.container {
	margin-top: 30;
	margin-left: 30;
	z-index: -1;
}
.header {
	font-family: 'Courier Prime Code', 'Sans Serrif', 'Arial';
}

#me {

}

#job {

}

.tagline {


}

#emphasized {

}

#para {

}

